
.swiper {
  width: 99vw;
  height: 50vh;
  margin-left: 2rem;
  margin-right: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* margin-left: 1.5rem; */
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 50%;
  align-items: center;
  justify-self: center;
  height: 50%;
  object-fit: cover;
  margin-right: 5rem;
}