.daily_gyaan{
  padding: 1px;
  background-color: #FFEDAC;
  margin: -10px 57px 18px 57px ;
  color:rgba(78, 53, 7, 0.867);
  padding-left: 60px;
}


.swiper {
  width: 99vw;
  height: 50vh;
  margin-left: 2rem;
  margin-right: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* margin-left: 1.5rem; */
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 100%;
  border-radius: 0 210px 210px 0;
  align-items: center;
  justify-self: center;
  height: 100%;
  object-fit: none;
  margin-right: 5rem;
}