.daily_gyaan{
  padding: 12px;
  background-color: #FFEDAC;
  margin: -10px 10px 18px 0 ;
  color:rgba(78, 53, 7, 0.867);
  /* font-size: 12px; */
  font-style:initial;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 33px;
}


