 @import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
.items {
    font-family: Amaranth;
    display: flex;
    flex-direction: column;
}
.items p {
    margin: 6px 0;
}
.card{
    /* display: flex; */
    /* gap:10px; */
    border: none;
}
.card-text{
    font-family:sans-serif;
    font-size: 14px;
}
.items-price {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    gap: 20px;
}
.card-title{
    font-size:medium;
}

.card-img-top{
    object-fit: scale-down;
}

.items-price-new {
    color: #A63030;
    font-size: 18px;

    font-weight: 600;
}

.items-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.btn{
    background-color: #A63030;
    color: white;
    
    
}